{include file="common/head"/}

<script src="/public/static/common/js/jquery.2.1.1.min.js"></script>

<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>包时间段</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        <a href="{:url('timeAdd')}" class="layui-btn layui-btn-sm">
            {:lang('add')}时间段
        </a>
    </blockquote>
    <div class="demoTable">
        <!--<div class="layui-inline">-->
            <!--<input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">-->
        <!--</div>-->
        <!--<button class="layui-btn" id="search" data-type="reload">{:lang('search')}</button>-->
        <!--<button type="button" class="layui-btn layui-btn-danger" id="delAll">批量删除</button>-->
        <!--<div style="clear: both;"></div>-->
    </div>
    <table class="layui-table" id="list" lay-filter="list">

    </table>
</div>

{include file="common/foot"/}
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="open" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="rank_status">
    {{d.out_type==0?'未出局':'已出局'}}
</script>
<script type="text/html" id="out_type">
    {{d.out_type==1?'二倍出局':'三倍出局'}}
</script>

<!--匹配到用户，并且未执行返利才能执行返利-->
<script type="text/html" id="action">

    <a href="{:url('timeEdit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['table','form'],function () {
        var table = layui.table,form = layui.form,$ = layui.jquery;
        var tableIn = table.render({
            id: 'content',
            elem: '#list',
            url: '{:url("time_slot")}',
            method: 'post',
            page: true,
            cols: [[
                {type: "checkbox", fixed: true,sort:true},
                {field: 'id', title: 'ID', width: 100, templet: '#id',sort:true},
                {field: 'name', title: '名字', width: 100, templet: '#name',sort:true},
                {field: 'time', title: '时间段', width: 100, templet: '#time',sort:true},
                {field: 'desc', title: '描述', width: 150, templet: '#desc',sort:true},
                {field: 'status', title: '是否启用', width: 100, templet: '#status',sort:true},
                {field: 'add_time', title: '添加时间', width: 100, templet: '#add_time',sort:true},
                {width: 160, align: 'center', toolbar: '#action', title: '操作'}
            ]],
            limit: 10
        });
        form.on('switch(open)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var id = this.value;
            var is_open = obj.elem.checked===true?1:0;
            $.post('{:url("tiemState")}',{'id':id,'status':is_open},function (res) {
                layer.close(loading);
                if (res.status==1) {
                    tableIn.reload();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                    return false;
                }
            })
        });
        $('body').on('blur', '.list_order', function () {
            var id = $(this).attr('data-id');
            var listorder = $(this).val();
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post('{:url("listorder")}', {id: id, listorder: listorder}, function (res) {
                layer.close(loading);
                if (res.code === 1) {
                    layer.msg(res.msg, {time: 1000, icon: 1}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1000, icon: 2});
                }
            })
        });

        table.on('tool(list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('您确定要删除该内容吗？', function (index) {
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('timeDel')}", {id: data.id}, function (res) {
                        layer.close(loading);
                        if (res.code === 1) {
                            layer.msg(res.msg, {time: 1000, icon: 1});
                            tableIn.reload({where: {catid: '{:input("catid")}'}});
                        } else {
                            layer.msg('操作失败！', {time: 1000, icon: 2});
                        }
                    });
                    layer.close(index);
                });
            }
        });

        $('#delAll').click(function () {
            layer.confirm('确认要删除选中的内容吗？', {icon: 3}, function (index) {
                layer.close(index);
                var checkStatus = table.checkStatus('content'); //content即为参数id设定的值
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('delAll')}", {ids: ids, catid: '{:input("catid")}'}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload({where: {catid: '{:input("catid")}'}});
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        })

    });
</script>