{include file="common/head"/}

<script type="text/javascript" src="/public/static/admin/js/echarts.min.js"></script>

<div class="admin-main layui-anim layui-anim-upbit" style="height: auto;">
    <div class="table-responsive">

        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <!--<div id="main" style="width: 100%;height:500px;"></div>-->
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '栏目产品点击率'
                },
                tooltip: {},
                legend: {
                    data:['点击率']
                },
                xAxis: {
                    data: [
                        {volist name="classification" id="vo"}
                        "{$vo}",
                        {/volist}
                    ]
                },
                yAxis: {},
                series: [{
                    name: '点击率',
                    type: 'bar',
                    data: [
                        {volist name="classification" id="vo"}
                        Math.floor(Math.random()*(1000-500+1)+500), //随机数
                        {/volist}
                    ]
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>

    </div>
</div>

<div class="admin-main layui-anim layui-anim-upbit">
    <div class="table-responsive">
        <table class="layui-table" lay-even lay-skin="line">
            <colgroup>
                <col width="40%">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th class="text-center" colspan="2">{:lang('systemInfo')}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>系统保留金沙</td>
                <td>{$system_money.balance}</td>
            </tr>
            <tr>
                <td>系统保留糖果</td>
                <td>{$system_money.integral}</td>
            </tr>
            <tr>
                <td>系统保留币</td>
                <td>{$system_money.currency}</td>
            </tr>
            <tr>
                <td>所有用户金沙总数</td>
                <td>{$user_all.balance}</td>
            </tr>
            <tr>
                <td>所有用户糖果总数</td>
                <td>{$user_all.integral}</td>
            </tr>
            <tr>
                <td>所有用户币总数</td>
                <td>{$user_all.money}</td>
            </tr>
            <tr>
                <td>提现待审核总额</td>
                <td>{$withdraw}</td>
            </tr>
            <tr>
                <td>网站域名</td>
                <td>{$config.url}</td>
            </tr>
            <tr>
                <td>网站目录</td>
                <td>{$config.document_root}</td>
            </tr>
            <tr>
                <td>服务器操作系统</td>
                <td>{$config.server_os}</td>
            </tr>
            <tr>
                <td>服务器端口</td>
                <td>{$config.server_port}</td>
            </tr>
            <tr>
                <td>服务器IP</td>
                <td>{$config.server_ip}</td>
            </tr>
            <tr>
                <td>WEB运行环境</td>
                <td>{$config.server_soft}</td>
            </tr>
            <tr>
                <td>MySQL数据库版本</td>
                <td>{$config.mysql_version}</td>
            </tr>
            <tr>
                <td>运行PHP版本</td>
                <td>{$config.php_version}</td>
            </tr>

            <tr>
                <td>最大上传限制</td>
                <td>{$config.max_upload_size}</td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.use('table', function() {
        var table = layui.table;
    })
</script>
</body>
</html>