{include file="common/head"/}
{include file="common/foot"/}
<script src='__STATIC__/common/js/layui-mz-min.js'></script>
<script src="__STATIC__/common/js/jquery.2.1.1.min.js"></script>
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>淘金配置</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">

        <style>
            .layui-form-label{
                width: 200px !important;
            }
        </style>



        <div class="layui-form-item">
            <label class="layui-form-label">是否开启注册奖励</label>
            <div class="layui-input-4" id="box_share_a_profit">
                <input
                        {if condition="$info.if_register_reward eq 1"}
                        checked
                        {/if}
                name="if_register_reward" id="if_role_rebate_1" checked="" value="1" validate=" defaul:true" type="radio" class="ace" title="开启">
                <div class="layui-unselect layui-form-radio layui-form-radioed">
                    <i class="layui-anim layui-icon"></i><span>开启</span>
                </div>
                <input
                        {if condition="$info.if_register_reward eq 0"}
                        checked
                        {/if}
                name="if_register_reward" id="if_role_rebate_2" value="0" type="radio" class="ace" title="关闭">
                <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon">
                    </i><span>关闭</span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">两倍出局所需数量：</label>
            <div class="layui-input-4">
                <label class="layui-form-label">{$info.double_out}</label>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">三倍出局所需数量：</label>
            <div class="layui-input-4">
                <label class="layui-form-label">{$info.triple_out}</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">注册者获得冻结余额：</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="required" name="re_lock_balance" placeholder="" value="{$info.re_lock_balance}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">邀请者获得冻结余额：</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="required" name="yq_lock_balance" placeholder="" value="{$info.yq_lock_balance}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昨日币值(元)：</label>
            <div class="layui-input-4">
                <label class="layui-form-label">{$info.yesterday_currency}</label>
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">今日币值(元)</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="required" name="currency" placeholder="" value="{$info.currency}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label">解冻冻结余额倍数:</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="required" name="buy_prop" placeholder="" value="{$info.buy_prop}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出局手续费比例%</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="required" name="double_percent" placeholder="" value="{$info.double_percent}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">兑换币所需金沙</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="required" name="exchange_money" placeholder="" value="{$info.exchange_money}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">兑换币所需糖果</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="required" name="exchange_integral" placeholder="" value="{$info.exchange_integral}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">N金沙赠送一糖果</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="required" name="balance_give_integral" placeholder="" value="{$info.balance_give_integral}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">奖金池开奖时间</label>
            <div class="layui-input-4" id="box_bonus_time">
                <label class="layui-form-label">{$info.bonus_time}</label>
                <!--<input type="text" class="layui-input" name="bonus_time" id="bonus_time" value="{$info.bonus_time}" placeholder="HH:mm:ss">-->
            </div>
            <!--<script>-->
                <!--layui.use('laydate', function(){-->
                    <!--var laydate = layui.laydate;-->
                    <!--laydate.render({-->
                        <!--elem: '#bonus_time'-->
                        <!--,type: 'time'-->
                        <!--,btns: ['clear', 'confirm']-->
                    <!--});-->
                <!--});-->
            <!--</script>-->
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">奖金池中奖时间</label>
            <div class="layui-input-4" id="box_reward_time">
                <input type="text" class="layui-input" name="reward_time" id="reward_time" value="{$info.reward_time}" >
            </div>
            <script>
                layui.use('laydate', function(){
                    var laydate = layui.laydate;
                    laydate.render({
                        elem: '#reward_time'
                        ,type: 'datetime'
                        ,btns: ['clear', 'confirm']
                    });
                });
            </script>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">三倍出局时间设置</label>
            <div class="layui-input-4" id="box_luck_time">
                <input type="text" class="layui-input" name="luck_time" id="luck_time" value="{$info.luck_time}">
            </div>
            <script>
                layui.use('laydate', function(){
                    var laydate = layui.laydate;
                    laydate.render({
                        elem: '#luck_time'
                        ,type: 'datetime'
                        ,btns: ['clear', 'confirm']
                    });
                });
            </script>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">中奖音乐设置</label>
            <div class="layui-input-4" id="box_music">
                <div class="layui-input-4"><input type="hidden" name="music_url" id="music_urlVal" value="{$info.music}">
                    <div class="layui-upload"><button type="button" class="layui-btn layui-btn-primary" id="pict_url"><i class="icon icon-upload3"></i>点击上传</button>
                        <input class="layui-upload-file" type="file" name="file">
                    </div>
                </div>
                <div class="layui-upload-list">
                    <audio src="{$info.music_url}" id="pict_urlMusic" autoplay="autoplay"  controls="controls" preload="auto"></audio>
                </div>
                <script>
                layui.use('upload', function () {
                    var upload = layui.upload;
                    upload.render({
                        elem:'#pict_url',
                        url: '/admin/up_files/file.html',
                        accept:'audio',
                        title: '上传音频文件',
                        done: function(res){
                            $('#pict_urlMusic').attr('src', '/public'+res.url);
                            $('#music_urlVal').val(res.url);
                        }
                    });
                });
            </script>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">提现手续费%</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="required" name="withdraw_percent" placeholder="" value="{$info.withdraw_percent}" class="layui-input">
            </div>
        </div>



        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
            </div>
        </div>

    </form>
</div>

<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,layer = layui.layer,$= layui.jquery;
        //提交监听
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('system/taojin')}",data.field,function(res){
                layer.close(loading);
                if(res.code > 0){
                    layer.msg(res.msg,{icon: 1, time: 1000},function(){
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{icon: 2, time: 1000});
                }
            });
        })
    })
</script>
</body>
</html>