{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>

    <!--##########################################-->
    <div class="layui-form-item">
        <label class="layui-form-label">
            用户ID
        </label>
        <label class="layui-form-label" style="text-align: left;">
            {$id}
        </label>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            {if condition="$type eq 'balance'"}
            余额
            {elseif condition="$type eq 'integral'"/}
             糖果
            {elseif condition="$type eq 'currency'"/}
            金币
            {/if}
        </label>
        <label class="layui-form-label" style="text-align: left;">
            {$value}
        </label>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数值</label>
        <div class="layui-input-4">
            <input type="text" name="num" placeholder=""
                   class="layui-input num">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">操作</label>
        <div class="layui-input-4" id="box_cate_id">
            <select class="ifadd">
                <option value="1">增加</option>
                <option value="0">减少</option>
            </select>
        </div>
    </div>

    <!--##########################################-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn addnum" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
            <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
        </div>
    </div>

</div>
{include file="common/foot"/}

<script src="/public/static/common/js/jquery.2.1.1.min.js"></script>
<script src="http://apps.bdimg.com/libs/layer/2.1/layer.js"></script>
<script src="http://apps.bdimg.com/libs/layer/2.1/extend/layer.ext.js"></script>

<script>
    $(document).ready(function(){
        $(".addnum").click(function(){
            if($(".num").val() == ''){
                layer.msg('请填入数字');
                return;
            }

            $.ajax({
                type: "POST",
                url: "{:url('admin/Users/adminadd')}",
                timeout : 100000, //超时时间设置，单位毫秒 为一秒
                data: {
                    num:$(".num").val(),
                    ifadd:$(".ifadd").val(),
                    id:'{$id}',
                    type:'{$type}',
                },
                dataType: "json",      //如果有此选项成功返回的json会自动变成对象，如果没有需要用JSON.parse()转换
                success: function(data){
                    layer.closeAll();
                    if (data.code > 0) {
                        layer.msg(data.msg, {time: 1800, icon: 1}, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.msg(data.msg, {time: 1800, icon: 2});
                    }
                },beforeSend:function () {
                    layer.load(1, {shade: [0.1, '#fff']});
                }
            });

        })
    })
</script>
</body>
</html>